<widget id="diary" version="0.0.1">
        <name>Diary</name>
        <description>
            A sample Apache Cordova application that display the view of the Tim hortons waiting line.
        </description>
        <author email="catherineborykina@gmail.com" href="http://phonegap.com">
            Alex yan
        </author>
        <content src="index.html" />
        <access origin="*" />
    </widget>
