<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Diary</title>
    
    <!--<link rel="stylesheet" type="text/css" href="styles/reset.css"/>-->
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="app/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/styles/app.css"/>

</head>
<body>

    <div class="container-fluid" ng-controller="DiaryCtrl">

        <div class="row">
            <div class="col xs-12 col-md-4"></div>



            <div class="col xs-12 col-md-4">

                 <div class="b-header">
                    <button class="b-btn" ng-click="getNext(date.prev)"><</button>
                    <span class="b-header__title">{{date.current | date:'EEE MMM dd yyyy'}}</span>
                    <button class="b-btn" ng-click="getNext(date.next)">></button>
                </div>

                
                <div ng-repeat="story in dairy.story" >
                    <p>{{story}}</p>
                </div>
                <button onclick="capturePhoto();">Capture Photo</button> <br>
    <button onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>
    <!--<button onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
    <button onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>-->
    <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
    <img style="display:none;" id="largeImage" src="" />

                <div class="col xs-12 col-md-4 sent_form">
                    <div class="input-group">
                      <textarea rows="2" class="form-control" placeholder="story" aria-describedby="basic-addon2" ng-model="dairy.edit"></textarea>
                      <span ng-click="addStory()" class="input-group-addon btn btn-default" id="basic-addon2">Sent</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4"></div>

         </div>

       <!-- <ul class="b-board-list">

            <li class="b-board-list__item" ng-repeat="game in games | orderByMyTeam:'Blue Jays'">

                <div class="b-board-list__box">
                    <div ng-class="{ 'b-board-list__box__item_active': game.linescore.r.home > game.linescore.r.away }">
                        {{game.home_team_name}}
                        <span class="b-board-list__box__score">{{game.linescore.r.home}}</span>
                    </div>
                    <div ng-class="{ 'b-board-list__box__item_active': game.linescore.r.home < game.linescore.r.away }">
                        {{game.away_team_name}}
                        <span class="b-board-list__box__score">{{game.linescore.r.away}}</span>
                    </div>
                    <div>{{game.status.status}}</div>
                </div>

            </li>

        </ul>-->

    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script src="app/vendors/jquery/dist/jquery.min.js"></script>

    <script src="app/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app/vendors/angular/angular.min.js"></script>
    <script src="app/vendors/angular-resource/angular-resource.min.js"></script>
    <script src="app/scripts/app.js"></script>

<script type="text/javascript" charset="utf-8">

    var pictureSource;   // picture source
    var destinationType; // sets the format of returned value

    // Wait for device API libraries to load
    //
    document.addEventListener("deviceready",onDeviceReady,false);

    // device APIs are available
    //
    function onDeviceReady() {
        pictureSource=navigator.camera.PictureSourceType;
        destinationType=navigator.camera.DestinationType;
    }

    // Called when a photo is successfully retrieved
    //
    function onPhotoDataSuccess(imageData) {
      // Uncomment to view the base64-encoded image data
      // console.log(imageData);

      // Get image handle
      //
      var smallImage = document.getElementById('smallImage');

      // Unhide image elements
      //
      smallImage.style.display = 'block';

      // Show the captured photo
      // The in-line CSS rules are used to resize the image
      //
      smallImage.src = "data:image/jpeg;base64," + imageData;
    }

    // Called when a photo is successfully retrieved
    //
    function onPhotoURISuccess(imageURI) {
      // Uncomment to view the image file URI
      // console.log(imageURI);

      // Get image handle
      //
      var largeImage = document.getElementById('largeImage');

      // Unhide image elements
      //
      largeImage.style.display = 'block';

      // Show the captured photo
      // The in-line CSS rules are used to resize the image
      //
      largeImage.src = imageURI;
    }

    // A button will call this function
    //
    function capturePhoto() {
      // Take picture using device camera and retrieve image as base64-encoded string
      navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 50,
        destinationType: destinationType.DATA_URL });
    }

    // A button will call this function
    //
    function capturePhotoEdit() {
      // Take picture using device camera, allow edit, and retrieve image as base64-encoded string
      navigator.camera.getPicture(onPhotoDataSuccess, onFail, { quality: 20, allowEdit: true,
        destinationType: destinationType.DATA_URL });
    }

    // A button will call this function
    //
    function getPhoto(source) {
      // Retrieve image file location from specified source
      navigator.camera.getPicture(onPhotoURISuccess, onFail, { quality: 50,
        destinationType: destinationType.FILE_URI,
        sourceType: source });
    }

    // Called if something bad happens.
    //
    function onFail(message) {
      alert('Failed because: ' + message);
    }

    </script>
</body>
</html>